    <header>
      <div>
        <img src="https://picsum.photos/id/93/64/64" alt="Brand Logo" />
        <h1>One Piece</h1>
      </div>
      <nav>
        <ul>
          <li><a href="#inicio">Inicio</a></li>
          <li><a href="#nosotros">Nosotros</a></li>
          <li><a href="#plans">Precios</a></li>
          <li><a href="#signin">Sign In</a></li>
        </ul>
      </nav>
    </header>
   